// PRIMARY
$primary-50: #f4f3f2;
$primary-100: #e4e1dd;
$primary-200: #ccc3bc;
$primary-300: #aea096;
$primary-400: #978478;
$primary-500: #88746a;
$primary-600: #74615a;
$primary-700: #5e4d4a;
$primary-800: #514442;
$primary-900: #483b3b;
$primary-950: #191414; //*

// SECONDARY
$secondary-50: #ffffff; //*
$secondary-100: #efefef;
$secondary-200: #dcdcdc;
$secondary-300: #bdbdbd;
$secondary-400: #989898;
$secondary-500: #7c7c7c;
$secondary-600: #656565;
$secondary-700: #525252;
$secondary-800: #464646;
$secondary-900: #3d3d3d;
$secondary-950: #292929;

// ACCENT
$accent-50: #f0fdf4;
$accent-100: #dbfde6;
$accent-200: #baf8cf;
$accent-300: #84f1aa;
$accent-400: #48e07d;
$accent-500: #1db954; //*
$accent-600: #14a547;
$accent-700: #13823b;
$accent-800: #156633;
$accent-900: #13542c;
$accent-950: #042f15;

// SUCCESS
$success-50: #f2fbf6;
$success-100: #e2f6eb;
$success-200: #c6ecd6;
$success-300: #99dcb6;
$success-400: #64c48f;
$success-500: #3ea56c; //*
$success-600: #2f8a58;
$success-700: #286d47;
$success-800: #24573b;
$success-900: #1f4832;
$success-950: #0c2719;

// WARNING
$warning-50: #fbfbeb;
$warning-100: #f7f6ca;
$warning-200: #f0ec98;
$warning-300: #e8db5c;
$warning-400: #e1cc3d; //*
$warning-500: #cfb223;
$warning-600: #b38d1b;
$warning-700: #8f6819;
$warning-800: #77531c;
$warning-900: #66451d;
$warning-950: #3b240d;

// DANGER
$danger-50: #fff2f1;
$danger-100: #ffe2e0;
$danger-200: #ffc9c6;
$danger-300: #ffa49e;
$danger-400: #ff7067;
$danger-500: #fc4337;
$danger-600: #eb2e22; //*
$danger-700: #c51b10;
$danger-800: #a31a11;
$danger-900: #871c15;
$danger-950: #4a0905;