@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// FONTS
$primary-font: 'Poppins', sans-serif;

// SIZES
:root {

    // Minor Third
    --fs-xxs: 0.694rem;
    --fs-xs: 0.833rem;
    --fs-body: 1rem;
    --fs-sm: 1.2rem;
    --fs-md: 1.44rem;
    --fs-lg: 1.728rem;
    --fs-xl: 2.074rem;
    --fs-xxl: 2.488rem;

    @media screen and (min-width: 992px) {

        // Major Third
        // --fs-xxs: 0.64rem;
        // --fs-xs: 0.8rem;
        --fs-body: 1.125rem;
        --fs-sm: 1.25rem;
        --fs-md: 1.563rem;
        --fs-lg: 1.953rem;
        --fs-xl: 2.441rem;
        --fs-xxl: 3.052rem;

    }

}