@use './colors' as *;
@use './fonts' as *;
@use './mixins' as *;

// TYPE SELECTORS
body {
    font-family: $primary-font;
    font-size: var(--fs-body);
    font-weight: 400;
    color: $secondary-50;
    background-color: $primary-950;
}

img {
    width: 100%;
}

// CLASS SELECTORS
.opacity-50 {
    opacity: 0.5;
}

.skeleton-text {
    width: 80%;
    height: 10px;
    border-radius: 5px;
    @include animationSkeleton();

    &:last-child {
        width: 50%;
    }
}

.pointer-events {
    pointer-events: none; // Disable mouse events
}

// KEYFRAMES
@keyframes skeleton {
    0% {
        background-color: $secondary-500;
    }

    100% {
        background-color: $secondary-300;
    }
}