@use '../utils/' as *;

.header {
    position: fixed;
    top: 0;
    @include displayFlex(row, center, center);
    width: 100%;
    height: 80px;
    border-bottom: 1px solid $primary-900;
    background-color: $primary-950;
}

.main {
    @include displayFlex(column, center, center);
    width: 100%;
    min-height: calc(100svh - (80px + 60px)); // 'header' height + 'footer' height
    margin-top: 80px; // 'header' heigth
    padding: 16px;
    z-index: -1; // To prevent hiding the navbar menu list.
}