@use '../utils/' as *;

// SASS VARIABLES
$navbar-height: 80px;
$footer-height: 60px;

.main {
    @include displayFlex(column, center, center);
    width: 100%;
    min-height: calc(100svh - ($navbar-height + $footer-height));
    margin-top: $navbar-height;
    padding: 16px;
}