@use '../utils' as *;

// VARIABLES
$navbar-height: 80px;
$footer-height: 60px;

.main {
    @include displayFlex(column, center, center);
    width: 100%;
    min-height: calc(100svh - ($navbar-height + $footer-height));
    margin-top: $navbar-height;
    padding: 24px;

    .hero {
        @include displayFlex(column, flex-start, center);
        width: 100%;
        max-width: 1200px;
        gap: 56px;

        .container {
            @include displayFlex(column, center, center);
            width: 100%;
            max-width: 500px;
            gap: 16px;

            & > * {
                width: 100%;
            }

            .title {
                font-size: var(--fs-xxl);
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: -0.5px;

                .favorite {
                    font-style: italic;
                    color: $accent-500;    
                }
            }

            .description {
                font-size: var(--fs-body);
                font-weight: 300;
                line-height: 1.3;
                letter-spacing: 0.25px;
            }
        }

        .loginBtn {
            @include displayFlex(row, center, center);
            @include solidButton($accent-950, $accent-400, $accent-300, $accent-500, $accent-100, $accent-800);
            max-width: 200px;
        }

        .error {
            font-size: var(--fs-xs);
            color: $danger-600;
        }
    }
}