@use '../utils' as *;

.card {
    @include displayFlex(row, center, center);
    width: fit-content;

    .avatar {
        @include displayFlex(row, center, center);
        width: 40px;
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: contain;
        }
    }

    .username {
        display: none;
    }
}

/* 768 ********************/
@media screen and (min-width: 768px) {

    .card {
        gap: var(--base-size);

        .username {
            display: block;
            font-size: var(--fs-xs);
        }
    }

} //768-END

/* 992 ********************/
@media screen and (min-width: 992px) {

    .card {
    
        .avatar {
            width: 50px;
        }
    
        .username {
            font-size: var(--fs-body);
        }
    }

} //992-END