@use '../utils' as *;

.card {
    @include displayFlex(row, center, center);
    width: fit-content;

    .avatar {
        @include displayFlex(row, center, center);
        width: 40px;
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: contain;
        }
    }

    .username {
        display: none;
    }
}

/* 768px ********************/
@media screen and (min-width: 768px) {

    .card {
        gap: 8px;

        .avatar {
            width: 48px;
        }

        .username {
            display: block;
            max-width: 200px;
            font-size: var(--fs-xs);
            font-weight: 300;
            letter-spacing: 0.5px;
            white-space: nowrap; // Prevents text from wrapping to multiple lines and makes it occupy the full width of its container.
            overflow: hidden; // Ensures that content overflowing from the container is hidden.
            text-overflow: ellipsis; // This property adds three ellipsis points at the end of overflowing text.
        }
    }
} //768px - END

/* 992px ********************/
@media screen and (min-width: 992px) {

    .card {

        .username {
            max-width: 400px;
        }
    }
} // 992px - END