@use '../../utils' as *;

.audioPlayer {
    @include displayFlex(row, center, space-between);
    flex-wrap: wrap;
    width: 100%;
    min-height: 96px;
    padding: 16px;
    gap: 8px;
    border: 1px solid $accent-300;
    border-radius: 5px;
}