@use '../utils' as *;

// VARIABLES
$navbar-size: 80px;

.nav {
    position: relative;
    @include displayFlex(row, center, space-between);
    width: 100%;
    max-width: 1200px;
    height: $navbar-size;
    padding: 8px;
    background-color: $primary-900;

    .logo {
        font-size: var(--fs-sm);
    }

    .container {
        @include displayFlex(row, center, flex-end);
        width: 100%;
        overflow: hidden;
    }

    // USER CARD

    .toggleBtn {
        @include displayFlex(row, center, center);
        
        .menuIcon {
            font-size: var(--fs-xl);
            font-weight: 300;
        }
    }

    .menuList {
        position: absolute;
        top: $navbar-size; right: 0;
        @include displayFlex(column, center, center);
        width: 100%;
        min-height: 100px;
        padding: 8px;
        border: 1px solid $secondary-50;
        background-color: $primary-900;

        .menuItem {
            @include displayFlex(row, center, center);
            width: 100%;
            min-height: 80px;
            background-color: $primary-900;

            button {
                @include displayFlex(row, center, center);
                width: 100%;

                > * {
                    margin: 0 2px;
                }

                .logoutIcon {
                    font-size: var(--fs-md);
                    font-weight: 300;
                    color: $secondary-300;
                }

                .btnText {
                    font-size: var(--fs-xs);
                }
            }
        }
    }
}