@use '../utils' as *;

// SASS VARIABLES
$navbar-height: 80px;

.nav {
    position: fixed;
    top: 0;
    @include displayFlex(row, center, center);
    width: 100%;
    height: $navbar-height;
    z-index: 1;

    .wrapper {
        @include displayFlex(row, center, space-between);
        width: 100%;
        max-width: 1200px;
        height: 100%;
        background-color: $primary-950;
        border-bottom: 1px solid $primary-900;

        .logo {
            font-size: var(--fs-sm);
            margin: 0 16px;
        }

        .container {
            position: relative;
            @include displayFlex(row, center, flex-end);
            width: fit-content;
            margin: 0 8px 0 16px;
            gap: 4px;

            .menuBtn {
                @include displayFlex(row, center, center);
                width: 30px;
                height: 30px;

                .menuIcon {
                    font-size: var(--fs-md);
                    font-weight: 400;
                }
            }

            .outlinedBtn {
                display: none;
            }
        }

        .menu {
            position: absolute;
            top: 0;
            @include displayFlex(column, center, center);
            width: 100%;
            min-height: fit-content;
            padding: 16px 32px;
            list-style: none;
            background-color: rgba(25, 20, 20, 0.8);
            transition: top 0.8s ease;
            z-index: -1;

            .item {
                @include displayFlex(row, center, center);
                width: 100%;
                max-width: 400px;

                .solidBtn {
                    @include displayFlex(row, center, center);
                    @include solidButton(transparent, $primary-400, $primary-300, $primary-500, transparent, transparent);
                    gap: 4px;

                    .logoutIcon {
                        font-size: var(--fs-md);
                        font-weight: 300;
                        color: $primary-700;
                    }

                    .text {
                        font-size: var(--fs-xs);
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 1.25px;
                        color: $primary-950;
                    }
                }
            }
        }

        .menuExpanded {
            top: $navbar-height;
        }
    }
}


/* 768px ********************/
@media screen and (min-width: 768px) {

    .nav {

        .wrapper {

            .container {
                @include displayFlex(row, center, space-between);
                min-width: 300px;
                margin: 0 16px;
                gap: 32px;

                .menuBtn {
                    display: none;
                }

                .outlinedBtn {
                    display: inline-block;
                    @include outlinedButton(fit-content, $secondary-300, $secondary-950, $secondary-900);
                }
            }

            .menu {
                display: none;
            }
        }
    }
} // 768px - END